.chat-message-container {
  width: 100%;
  display: flex;

  .chat-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 45%;
    width: fit-content;
    padding: 0.7vw;
    margin-bottom: 2vw;
    border-radius: 0.35vw;

    .chat-message-data-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 0.35vw;

      .sender {
        font-weight: 600;
        width: 80%;
        font-size: 1.1vw;
      }

      .time {
        font-weight: 600;
        font-size: 0.83vw;
      }
    }

    .chat-message-files-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .chat-message-text {
      margin-top: 0.7vw;
      font-size: 1.2vw;
      width: 100%;
      overflow: visible;
      white-space: inherit;
    }
  }

  .user-message {
    background: #4970B5;

    p {
      color: #fff;
    }


  }

  .stranger-message {
    background: #FAFAFA;

    p {
      color: #444;
    }
  }
}

.user-message-container {
  justify-content: flex-end;
}

.stranger-message-container {
  justify-content: flex-start;
}
