.Hierarchy {
  width: 100%;

  h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 2rem;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .search-container {
      width: 375px;
      height: 60px;
      display: flex;
      align-items: center;
      margin-top: 1rem;
      border-radius: 0.3rem;
      box-shadow: 0 0.5px 5px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
      overflow: hidden;

      input.search {
        width: 100%;
        height: 100%;
        font-size: 15px;
        letter-spacing: 0.25px;
        border: none;
        outline: none;
        padding: 1rem;
      }

      button {
        height: 100%;
        background: none;
        padding: 0 0.5rem;
      }

      svg {
        font-size: 16px;
        color: #505050;
      }
    }
  }

  & > .container {
    display: flex;
    height: fit-content;
    max-width: fit-content;
    display: flex;
    // flex-direction: column;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;

    & > div {
      min-width: fit-content;
      height: 100%;
      display: flex;
      padding: 1.5rem 1rem;

      .employee-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        overflow-y: scroll;

        .employee-detail {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          & > div {
            display: flex;
            justify-content: space-between;

            .right {
              display: flex;
              align-items: center;

              button {
                background: none;

                svg {
                  font-size: 16px;
                }

                &.remove {
                  color: #b91c1c;
                  margin: 0 auto 1rem auto;
                }

                &.expand {
                  background-color: #f0f000;
                  padding: 0.5rem 0.75rem;
                  border-radius: 0.5rem;
                }

                &.options {
                  margin-left: 1rem;
                }
              }
            }

            .left {
              display: flex;
              align-items: center;

              p {
                &:nth-child(1) {
                  font-weight: 500;
                  font-size: 16px;
                  margin-bottom: 0.35rem;
                }

                &:last-child {
                  font-size: 15px;
                  font-style: italic;
                  letter-spacing: 0.35px;
                }
              }

              .profile-image {
                position: relative;
                background: #3d72bf;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin-right: 2rem;

                svg {
                  position: absolute;
                  bottom: 0;
                  width: 85%;
                  height: 85%;
                  color: hsl(216, 52%, 90%);
                }
              }
            }
          }

          .divide {
            /*width: 100%;
            height: 4px;
            min-height: 4px;
            background: #3d72bf;
            border-radius: 0.5rem;*/
            margin: 2.5rem 0;
          }
        }

        &:last-child {
          overflow-y: auto;
        }
      }
    }

    button.add {
      width: fit-content;
      background: none;
      padding: 0.5rem;
      margin: 0 auto;

      svg {
        font-size: 20px;
        color: #37a667;
      }
    }
  }

  .custom-scroll {
    &::-webkit-scrollbar {
      height: 11.5px;
      width: 11.5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #cdcdcd;
    }

    &::-webkit-scrollbar-thumb {
      background: #7d7d7d;
      border-radius: 10px;
    }
  }

  // break points
  @media screen and (max-width: 1000px) {
    & > .container .employee-details {
      width: 300px;
    }
  }
}

.modal-content {
  position: relative;
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  button.close {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    padding: 0.25rem;
    background: none;

    svg {
      font-size: 20px;
      color: #505050;
    }
  }

  &:nth-child(1) {
    .buttons {
      width: 100%;
      max-width: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background: transparent;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid #3d72bf;
        border-radius: 0.3rem;
        padding: 1rem 1.5rem;

        &:nth-child(1) {
          color: #ffffff;
          background-color: #3d72bf;
        }
      }
    }
  }

  .modal-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2.75rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      height: 50px;
      font-size: 14px;
      border: 1px solid rgba(100, 100, 100, 0.2);
      border-radius: 0.35rem;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      margin-top: 0.75rem;
      outline: none;
      padding: 1rem 0.75rem;
    }

    button {
      height: 50px;
      background: #3d72bf;
      color: white;
      font-size: 15px;
      font-weight: 600;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
    }

    .details {
      width: 100%;
      display: flex;
      margin-bottom: 2.5rem;

      & > div {
        display: flex;
        flex: 1;
        flex-direction: column;

        label {
          font-weight: 500;
          font-size: 15px;
        }

        &:nth-child(1) {
          margin-right: 2.5rem;
        }

        .field-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .user-functions {
      margin-bottom: 2.5rem;

      h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 2rem;
      }

      div.functions {
        width: 100%;
        max-width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        & > div {
          display: flex;
          flex-direction: column;

          .function {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            .Checkbox {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
