.browse-avatar {
  width: 52.828125vw;
  height: fit-content !important;

  .browse-avatar-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: calc(12.155vh - 2vw) 6.58857vw calc(12.155vh - 2vw) 2.92825vw;

    .dropped-img {
      width: 18.301vw;
      height: 40.5186vh;

      margin: 1.8301vw;

    }

    .drop-image {
      cursor: pointer;

      margin: 1.8301vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 1px dashed #4970B5;
      padding: 3.8799414348462666vw;

      .drop-image-icon {
        border-radius: 99px;
      }

      .drop-image-text {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.171303074670571vw;
        line-height: 1.7569546120058566vw;


        color: #444444;
      }
    }

    .or {
      margin: 1.8301610541727673vw;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1.171303074670571vw;
      line-height: 1.7569546120058566vw;
      /* identical to box height */


      color: #000000;

    }

    .browse-file-input {
      margin: 1.8301610541727673vw;

      .input-field-container {
        display: none;
      }

      .browse-input {
        cursor: pointer;
        border: 2px solid transparent;
        display: block;
        padding: 1.2965964343598055vh 2.342606149341142vw;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.171303074670571vw;
        line-height: 1.7569546120058566vw;
        /* identical to box height */


        color: #FFFFFF;

        background: #4970B5;
        border-radius: 0.7320644216691069vw;

        &:hover {
          background: #FFFFFF;

          color: #4970B5;
          border: 2px solid #4970B5;

        }


      }

    }
  }
}
