.login {
  background-color: #4970b5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  .login-container {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px 53px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    .login-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      .login-text {
        display: flex;
        gap: 1.6px;
      }
    }
    .login-error {
      display: flex;
      color: #f61d1d;
      align-items: center;
      gap: 12px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      gap: 26px;
      .form-controls {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .password-control {
          display: flex;
          align-items: center;
          .input-icon {
            display: flex;
            cursor: pointer;
            margin-left: -32px;
          }
        }
      }
      .login-options {
        display: flex;
        justify-content: space-between;
        a {
          font-size: 14px;
          color: #4970b5;
        }
      }
    }
  }
}
