@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}





.action-banner {
  background: #FFFFFF;
  width: 47.63vw;
  height: 4.94vw;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 1vw 1vw 0vw 0vw;
  padding: 0.78125vw 1.171875vw;
  background-color: white;
  animation-name: slide-in;
  animation-duration: 0.08s;
  animation-timing-function: ease-out;

  .action-banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EEEEEE;
    border-radius: 0.9765625vw;
    padding: 0px 1.2369791666666667vw 0px 1.6276041666666667vw;
    height: 3.90625vw;

    .action-banner-close-icon svg {
      width: 1.4322916666666667vw;
      height: 1.4322916666666667vw;
      cursor: pointer;
    }

    .action-banner-sender-info {
      .action-banner-sender {
        font-size: 1.0416666666666667vw;
        font-weight: 600;
        line-height: 1.5625vw;
        color: #444444;
      }

      .action-banner-sender-message {
        font-size: 1.0416666667vw;
        font-weight: 400;
        line-height: 1.5625vw;
        color: #444444;
        width: 40.317708vw;
      }
    }
  }
}

.action-banner-deplay-before-hidding {
  animation-name: slide-out;
  animation-duration: 0.08s;
  animation-timing-function: ease-out;
}
