.forward-message-author {
  font-weight: 600;
font-size: 1.0416666666666667vw;
line-height: 1.5625vw;
color: #444444;
}
.forward-message-text {
  font-weight: 400;
  font-size: 1.0416666666666667vw;
  line-height: 1.5625vw;
color: #444444;
}
.forward-message-line {
  background-color: #2B539A;
  width: 0.6510416666666666vw;
  height:  5.208333333333333vw;
}
.forward-message-wrapper {
  width: 14.23vw;
  padding: 0.55vw 0.9114583333vw;
  display: flex;
  align-items: center;
}
.forward-message-container {
  padding-left: 0.6510416666666666vw;
}
