.sidebar {
  width: 20.3125em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 23.1em;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: #3d72bf;
  padding: 3rem 0;

  .sidebar-main{
    display: flex;
    align-items: center;
    gap: 3.5em;
    flex-direction: column;
    .sidebar-header {
      display: flex;
      align-items: center;
      gap: .9em;
  
      .sidebar-title {
        font-size: 1.25rem;
        font-weight: 500;
      }
  
      .sidebar-logo-container{
        width: 2.7em;
        height: 2.34em;
        img{
          width: 100%;
        }
      }
    }

    .sidebar-container {
      width: 20.3125em;
      display: flex;
      flex-direction: column;
      .sidebar-item {
        width: 100%;
        height: 4.5625em;
        padding: 1.3em 1.8em;
        transition: height .7s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-radius: 0px 15px 15px 0px;
        &:hover{
          background-color: #4970B5;
          color: #fff;
          fill: #fff;
        }
        .sidebar-main-item{
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          .main-item-text{
            display: flex;
            gap: 1.4em;         
          }
        }
        .disnone{
          display: none;
        }
      }
      .open {
        height: 9.8em;
        background-color: #4970B5;
        color: #fff;
        border-radius: 0px 15px 15px 0px;
        .sidebar-main-item{
          display: flex;
          padding: 1.3em 1.8em 0;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          .main-item-text{
            display: flex;
            gap: 1.4em;         
          }
        }
        svg{
          fill: #fff;
        }
  
        .subitem{
          display: flex;
          flex-direction: column;
          width: 100%;
          :last-child{
            border-radius: 0px 0 15px 0px;
          }
          p{
            font-size: 1rem;
            text-align: center;
            padding: 13px 0;
            cursor: pointer;
            &:hover{
              background-color: #6F8FCC;
            }
          }
        }
      }
      .sidebar-item:hover svg, .nav-item:hover {
        fill: #fff;
        color: #fff;
      }
    }

    .turn-0 {
      transform: rotate(90deg);
      transition: transform 250ms ease-in-out;
     }
    
     .roll-back {
      transform: rotate(0);
      transition: transform 250ms ease-in-out;
     }
  }

  .logout { 
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 0 3.375em;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    .logout-icon{
      height: 2.203125em;
      margin: 0;
    }

    p{
      font-size: 16px;
    }
  } 
}
