// .hire-worker {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   opacity: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   .hire-worker-container {
//     background-color: #fafafa;
//     width: 45.3125em;
//     height: 50.375em;
//     border-radius: 20px;
//     display: flex;
//     flex-direction: column;
//     gap: 1.5em;
//     .hire-worker-header {
//       padding: 1.8125em 2.4375em;
//       display: flex;
//       justify-content: flex-end;
//       span {
//         cursor: pointer;
//       }
//     }

//     .hire-worker-title {
//       text-align: center;
//       margin-top: -2.5em;
//       font-size: 1.5rem;
//       font-size: 500;
//       color: #444444;
//     }
    
//     .hire-worker-form {
//       .form-inputs-wrapper {
//         padding: 0 2.8125em;
//         display: grid;
//         grid-template-columns: repeat(2, 2fr);
//         gap: 1.4em;
//         justify-items: center;
//         .form-worker-control {
//           width: 18.75em;
//           label {
//             color: #444444;
//             font-size: 1rem;
//             font-weight: 400;
//           }
//         }
//       }

//       .hire-worker-functions {
//         .user-function {
//           text-align: center;
//           font-size: 1.5rem;
//           font-size: 500;
//           margin-top: 2.5em;
//           color: #444444;
//         }

//         .hire-work-function-checkboxs {
//           display: grid;
//           width: 70%;
//           margin: 55px auto;
//           grid-template-columns: repeat(2, 58.5%);
//           gap: 2.43rem;
//         }
//       }
//       .hire-worker-submit-container {
//         padding: 0 18em;
//       }
//     }
//   }
// }
.modal-container{
  max-height: 72.65vh;
  width: 50.41vw;

  .hire-worker-title{
    font-size: 1.66vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vw;
  }

  .hire-worker-form{
    padding: 0 3.125vw 3.47vw;
    min-height: calc(100% - 4.5vw);
    max-height: calc(100% - 4.5vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hire-worker-content-container{
      overflow-y: scroll;
      height: 100%;
      padding: 2vw 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .hire-worker-content-input-container{
        display: grid;
        grid-template-columns: 20vw 20vw;
        grid-template-rows: 4.16vw 4.16vw;
        grid-row-gap: 1.5vw;
        grid-column-gap: 2.5vw;
        width: 100%;

        .hire-worker-content-input{
          label{
            font-size: 1.13vw;
          }
          .input-field-container{
            width: 100%;
            height: 2.5vw;
            input{
              font-size: 0.95vw;
            }
          }
        }
      }
      
      .hire-worker-functions{
        margin-top: 2.7vw;

        .hire-worker-functions-title{
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          font-size: 1.66vw;
        }

        .hire-work-functions-checkbox-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          margin-left: auto;
          margin-right: auto;
          margin-top: 3.82vw;
          grid-column-gap: 13.9vw;
          grid-row-gap: 2.8vw;
        }
      }
      
    }

    .hire-worker-submit-container{
      margin-top: 3.125vw;
      width: 10.42vw;
      height: 3.5vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
}