.chat-bar-header-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25.9vw;
    height: 8.49609375vh;
    background-color: #EEEEEE;

    svg{
        margin-left: 1vw;
        width: 2.36vw;
        height: 2.36vw;
    }
}