.chat-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47.63vw;
  height: 4.94vw;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  background-color: white;
  margin-bottom: 2.77vw;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  .tools {
    width: 2.91vw;
    height: 2.91vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;

    svg {
      width: 1.21vw;
      height: 2vw; //1.21
    }
  }

  .chat-input {
    width: 44.30vw;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.11vw;
    line-height: 1.24vw;
    padding-left: 0.9114583333333334vw;

    &::placeholder {
      color: rgba(68, 68, 68, 0.6);
      font-size: 1.11vw;
      line-height: 1.24vw;
      // text-transform: uppercase;
    }

  }

  .tools-microphone {
    justify-content: flex-start;
  }
}
.chat-input-container-edit {
  border-radius: 0vw 0vw 1vw 1vw;
  box-shadow: none
}
.chat-input-wrapper {
  position: relative;
  z-index: 1;
}
.recording-audio-button svg {
  width: 2.734375vw;
  height: 2.734375vw;
}
.recording-audio-button {
  margin-left: 2.9296875vw;
}
