
.navitem{
    background-color: #FFF;
    width: 100%;
    color: #4970B5;
    fill: #4970B5;
    stroke:#2B539A;
    height: 5.96vw;
    cursor: pointer;
    transition: .3s ease-in-out;
    border-radius: 0px 15px 15px 0px;
    .hide{
        transition: .3s ease-in-out;
        display: none;
    }
    .nav-item-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.11vw 2.07vw 1.11vw 3.43vw;
        .nav-item-top-text{
            display: flex;
            align-items: center;
            gap: 1.55vw;

            .icons{
                width: 2.63vmax;
                height: 2.63vmax;

                svg{
                    width: 100%;
                    height: 100%;
                }
            }

            p{
                font-weight: 400;
                font-size: 1vmax;
            }
        }
        .rotate-0{
            transform: rotate(0);
        } 
    }
    &:hover{
        background-color: #4970B5;
        color: #FFF;
        fill: #FFF;
        stroke:#FFF;
    }
}

.navitem-expand{
    height: max(15.34vw, 17.97vw);
    background-color: #4970B5;
    width: 100%;
    border-radius: 0px 1.1vw 1.1vw 0px;
    transition: .3s ease-in-out;
    color: #FFF;
    fill: #FFF;
    stroke:#FFF;
    .hide{
        display: block;
    }
    
    .nav-item-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.1vw 2.07vw 1.1vw 3.44vw;
        .nav-item-top-text{
            display: flex;
            align-items: center;
            gap: 1.55vw;

            .icons{
                width: 2.63vmax;
                height: 2.63vmax;

                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            
            p{
                font-weight: 400;
                font-size: 1vmax;
            }
        }
        .rotate{
            transform: rotate(90deg);
            transition: .3s ease-out;
        }
    }

    .nav-item-menu{
        
        .nav-menu-link{
            height: 3.14vw;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 6.05vw 0 7.16vw;
            text-decoration: none;
            gap: 1.55vw;
            p{
                font-size: 1.1vw;
                font-weight: 400;
                color: #EDEDED;
                white-space: nowrap;
            }
            span{
                width: 1.94vw;
                height: 1.94vw;
                fill: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover{
                background-color: #6F8FCC;
            }
        }    
    }
}