.message-area{
    height: 91.50390625vh;
    width: 51.11vw;
    background-color: #CADDFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .messages{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex: 1 1 auto;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar{
        display: none;
      }
}