.pagination-button{
    width: 3.083vmin;
    height: 3.083vmin;
    background-color: #4272C0;
    border-radius: 100px;
    font-size: 1.17vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;
}