.file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9.3vw;

    .file-icon{
        svg{
            width: 3.819vw;
        }
    }

    .file-name{
        width: 100%;
        font-size: 0.92vw;
        text-align: center;
    }
}