.project-card {
    display: flex;
    flex-direction: row;

    background: #FAFAFA;
    box-shadow: 0.21961932650073207vw 0.14641288433382138vw 0.7320644216691069vw rgba(0, 0, 0, 0.1);
    padding: 1.0980966325036603vw;
    margin: 0.7320644216691069vw 0;

    .title-org-amount {
        gap: 0.36603221083455345vw;
        display: flex;
        flex-direction: column;

        .title {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 1.171303074670571vw;
            line-height: 1.390922401171303vw;
            color: #000000;
        }

        .organisation {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.0248901903367496vw;
            line-height: 17px;
            color: #444444;
        }

        .amount {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.0248901903367496vw;
            line-height: 17px;
            color: #444444;
        }
    }

    .avatar-forward-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .avatar {}

        .forward-icon {
            display: flex;
            width: 1.8060029282576866vw;
            height: 1.8060029282576866vw;
            background: #376ABE;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }
    }
}