.content{
    height: 100vh;
    padding: -3rem -1.5rem;
    
    .chat{
        position: sticky;
        width: 80%;


        .add-chat-btn {
            height: 50px;
            background: #3d72bf;
            color: white;
            font-size: 15px;
            font-weight: 600;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
        }
    }
    
    .chat-user-list{
        border-left: 1px solid blue;

        .search-list{
            position: sticky;
            display: flex;
            height: 55px;
            border-bottom: 1px solid blue;
    
            .search-for-users{
                width: 80%;
                height: 30px;
                font-size: 14px;
                border: 1px solid rgba(100, 100, 100, 0.2);
                border-radius: 0.35rem;
                box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
                outline: none;
                padding: 1rem 0.75rem;
                margin: 0.50rem;
            }
            .add-chat-btn{
                height: 30px;
                width: 20%;
                background: none;
                padding: 0.5rem;
                margin: 0.50rem;
    
            }
            
        }
        .chat-users{

            .user {
                display: flex;
                align-items: center;
                margin: 0.50rem;
  
                p {
                  &:nth-child(1) {
                    font-weight: 500;
                    font-size: 16px;
                    margin-bottom: 0.35rem;
                  }
  
                  &:last-child {
                    font-size: 15px;
                    font-style: italic;
                    letter-spacing: 0.35px;
                  }
                }

  
                .profile-image {
                  position: relative;
                  background: #3d72bf;
                  border-radius: 50%;
                  width: 60px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  overflow: hidden;
                  margin-right: 2rem;
  
                  svg {
                    position: absolute;
                    bottom: 0;
                    width: 85%;
                    height: 85%;
                    color: hsl(216, 52%, 90%);
                  }
                }
              }
              .last-message{
                margin-left: 0.50rem;
            }
        }
    }
    
}
    