@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

$fonts: 'Poppins', sans-serif;

.registration-Div {
  width: 100%;
  min-height: 100vh;
  background-color: #3d72bf;
  overflow: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  font-family: $fonts;

  .registration-form {
    width: 530px;
    height: fit-content;
    padding: 20px 30px;
    border-radius: 1rem;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    .registration-header {
      display: flex;
      justify-content: center;
      
    }

    header {
      margin-bottom: 2.5rem;

      h2 {
        font-size: 24px;
        margin-bottom: 0.5rem;
      }

      h4 {
        font-weight: 500;

        a {
          text-decoration: none;
          margin-left: 0.3rem;
        }
      }
    }

    .register-button {
      width: 100%;
      display: flex;


      button {
        width: 100%;
        background: none;
        color: rgb(0, 0, 0);
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        border: 2px solid #4970B5;
        border-radius: 0.65rem;
        margin-top: 1rem;
        padding: 0.7rem 1rem;
        transition: transform 0.3s ease;
        will-change: transform;
        cursor: pointer;

        &:hover {
          background-color: #4970B5;
          color: #fff;
        }

      }
    }

    .registration-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;


      input,
      textarea {
        width: 100%;
        height: 37px;
        border-radius: 10px;
        box-shadow: 7px 5px 5px rgb(230, 230, 230);
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        padding: 5px 15px;
        background: none;
        color: #1a3b5d;
        font-family: $fonts;
        margin-bottom: 22px;
      }

      .field-container {
        width: 100%;
        position: relative;

        .input-icon {
          position: absolute;
          right: 0;
          top: 25%;
          transform: translateY(-25%);
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    input {
      background: transparent;
      border: none;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      outline: none;
      transition: border-bottom-color 0.35s ease;

      &:focus {
        border-color: #3360a3;
      }
    }
  }
}

.checkBox {
  display: flex;
  justify-content: space-between;
  font-family: $fonts;
}

input, #rememberme {
  box-shadow: none;
  width: 15px;
  height: 12px;
}

@media screen and (max-width: 560px) {
  .registration-Div {
    padding: 3rem 0.75rem;

    .registration-form {
      padding: 2.5rem 3%;

      .registration-info {
        width: 100%;
      }
    }
  }
}