@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


html {

    &::-webkit-scrollbar {
        height: none;
        width: none;
    }

}

.Hierarchy {
    width: 100%;
    padding-inline: 0;
    font-family: 'Poppins', 'Sans';


    h1 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 2rem;
        color: #444444;
    }



    &>.container {
        display: flex;
        height: fit-content;
        max-width: fit-content;
        display: flex;
        margin: 0 auto;
        border-radius: 0.5rem;
        overflow-x: scroll;
        overflow-y: hidden;

        &>div {
            min-width: fit-content;
            height: 100%;
            display: flex;
            padding: 1.5rem 1rem;
            overflow-x: auto;

            .employee-details {
                display: flex;
                flex-direction: column;
                padding: 10px;
                overflow-y: scroll;
                gap: 0.8rem;
                min-width: 21rem;

                .employee-detail {
                    width: 22rem;
                    height: 6rem;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 15px;
                    transition: all 350ms ease-in-out;

                    &>div {
                        display: flex;
                        justify-content: space-between;

                        .right {
                            display: flex;
                            align-items: center;

                            button {
                                background: none;

                                svg {
                                    font-size: 16px;
                                    color: #444444;

                                }

                                &.remove {
                                    border: none;
                                    margin: 0 auto 1rem auto;

                                }

                                &.expand {
                                    border: none;
                                    border-radius: 0.7rem;
                                    margin-left: -6px;
                                }

                                &.options {
                                    margin-left: 1rem;
                                    border: none;
                                }
                            }
                        }

                        .left {
                            display: flex;
                            align-items: center;

                            p {
                                &:nth-child(1) {
                                    font-weight: 500;
                                    font-size: 16px;
                                    margin-bottom: 0.35rem;
                                }

                                &:last-child {
                                    font-size: 15px;
                                    font-style: italic;
                                    letter-spacing: 0.35px;
                                }
                            }

                            .profile-image {
                                position: relative;
                                background: #4970B5;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;

                                svg {
                                    position: absolute;
                                    bottom: 0;
                                    width: 85%;
                                    height: 85%;
                                    color: hsl(216, 52%, 90%);
                                }
                            }

                            .name-role {
                                padding-left: 40px;
                            }
                        }
                    }
                }

                .employee-detail:hover .options,
                .employee-detail:hover {
                    color: #ffffff;
                    background-color: #4272C0;
                }

                .active {
                    color: #ffffff;
                    background-color: #4272C0;
                }

                .fire {
                    background-color: #444444;
                    color: #ffffff;
                }

                &:last-child {
                    overflow-y: hidden;
                }
            }
        }

        button.add {
            width: fit-content;
            font-size: 20px;
            background: none;
            padding: 50px;
            margin: 0 auto;
            border: none;
        }
    }

    .custom-scroll {
        &::-webkit-scrollbar {
            height: 11.5px;
            width: 11.5px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #cdcdcd;
        }

        &::-webkit-scrollbar-thumb {
            background: #7d7d7d;
            border-radius: 10px;
        }
    }

    // break points
    @media screen and (max-width: 1000px) {
        &>.container .employee-details {
            width: 300px;
        }
    }
}

img {
    aspect-ratio: 7/2;
    object-fit: contain;
}