.header-container{
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;

    .img{
        aspect-ratio: 2/2;
        object-fit: contain;
        width: 4.16vmax;
        height: 4.16vmax;
        border-radius: 100px;
    }
}