.navbar {
  height: 100vh;
  width: 22.55vw;
  padding: 44px 0 49.5px 0;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  .navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    justify-content: center;
    .navbar-head-text {
      font-size: 20px;
      color: #4970b5;
      font-weight: 500;
    }
  }

  .navbar-container {
    height: 74%;
    width: 100%;
    display: flex;
    padding: 16px 0;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navbar-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    .logout-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 18px;

      span{
        width: 3.68vmax;
        height: 3.68vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      p {
        color: #4970b5;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1.1vmax;
      }
    }
  }
}
