.registration-Div {
  width: 100%;
  min-height: 100vh;
  background-color: #3d72bf;
  padding: 4rem 0.75rem;
  overflow: hidden;

  .registration-form {
    max-width: 600px;
    padding: 4rem 3%;
    border-radius: 0.75rem;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    header {
      margin-bottom: 2.5rem;

      h2 {
        font-size: 24px;
        margin-bottom: 0.5rem;
      }

      h4 {
        font-weight: 500;
      }
    }

    .register-button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: fit-content;
        background: #3d72bf;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 0.3rem;
        margin-top: 1rem;
        padding: 1rem 2rem;
        transition: transform 0.3s ease;
        will-change: transform;
        cursor: pointer;
      }
    }

    .registration-info {
      display: flex;
      flex-direction: column;
      width: 90%;

      label {
        font-weight: 500;
        font-size: 15px;
      }

      input,
      textarea {
        width: 100%;
        font-size: 15px;
        margin-top: 0.75rem;
      }

      .field-container {
        width: 100%;
        position: relative;

        .input-icon {
          position: absolute;
          right: 0;
          top: 25%;
          transform: translateY(-25%);
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid hsl(216, 52%, 49%);
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      outline: none;
      transition: border-bottom-color 0.35s ease;

      &:focus {
        border-color: #3360a3;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .registration-Div {
    padding: 3rem 0.75rem;

    .registration-form {
      padding: 2.5rem 3%;

      .registration-info {
        width: 100%;
      }
    }
  }
}
