
.error-container{
    height: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0;

    p{
      color: #F61D1D;
      margin-left: 0.83vw;
      font-size: 1.112vw;
    }
  }
