.check-container{
    display: flex;
    align-items: center;
    .check-box{
      border: 2px solid #444444;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .checked{
      display: block;
      background-color: #444444;
      width: 7px;
      height: 7px;
      border-radius: 5px;
    }

    .unchecked{
      display: none;
    }

    p{
      color: #444;
    }
  }