.Checkbox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #505050;
  border-radius: 0.4rem;
  cursor: pointer;

  .check-icon {
    svg {
      font-size: 16px;
      color: #505050;
    }
  }
}
