.base-layout{
    display: flex;
    
    .base-layout-content{
        flex: 1;
        max-height: 100vh;
        .base-layout-container{
            height: 87.7%;
            width: 100%;
        }
    }
}