@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

$fonts: 'Poppins', sans-serif;

.registration-Div {
  width: 100%;
  min-height: 100vh;
  background-color: #4970B5;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: $fonts;

  .registration-form {
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 2.08vw 3.68vw;
    display: flex;
    flex-direction: column;
    gap: 0.90vw;

    .registration-header {
      display: flex;
      justify-content: center;
    }

    header {
      display: flex;
      flex-direction: column;
      gap: 2.43vw;

      h2 {
        font-size: 1.66vw;
        font-weight: 600;
      }

      h4 {
        font-size: 1.1vw;
        font-weight: 400;
        color: #444444;

        a {
          color: #0B8FEF;
          text-decoration: none;
          margin-left: 0.33vw;
        }
      }
    }

    .class-error {
      display: none;
    }

    .error {
      display: flex;
      align-items: center;
      gap: 0.83vw;
      color: #F61D1D;

      p {
        font-size: 1.1vw;
      }
    }

    .register-button {
      width: 100%;
      display: flex;

      button {
        width: 100%;
        background: none;
        color: #444444;
        font-size: 1.1vw;
        border: 2px solid #4970B5;
        border-radius: 10px;
        margin-top: 1px;
        padding: 0.88vw 0;
        font-family: $fonts;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #4970B5;
          color: #fff;
        }
      }
    }

    .registration-info {
      display: flex;
      flex-direction: column;
      gap: 2.08vw;

      .field-container {
        width: 100%;
        position: relative;

        .input-icon {
          position: absolute;
          right: 0;
          top: 40%;
          color: #727272;
          margin-right: 0.57vw;
          transform: translateY(-25%);
          font-size: 1.1vw;
          cursor: pointer;
          width: 1.25vw;
          height:1.25vw;
          justify-content: center;
          align-items: center;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.reminder-section {
  display: flex;
  justify-content: space-between;
  font-family: $fonts;

  .check-container {
    display: flex;
    align-items: center;
    gap: 1.31vw;

    .check-box {
      width: 1.1vw;
      height: 1.1vw;
      border: 2px solid #444444;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .checked {
      background-color: #444444;
      width: 0.48vw;
      height: 0.48vw;
      border-radius: 5px;
    }

    .unchecked {
      background-color: #fff;
      width: 0.48vw;
      height: 0.48vw;
      border-radius: 5px;
    }

    p {
      font-size: 0.97vw;
      color: #444;
    }
  }

  a {
    text-decoration: none;
    color: #0B8FEF;
    font-size: 0.97vw;
    font-weight: 400;
  }
}

@media screen and (max-width: 560px) {
  .registration-Div {
    padding: 3.33vw 0.75rem;

    .registration-form {
      padding: 2.77vw 3%;

      .registration-info {
        width: 100%;
      }
    }
  }
}