.text-container{
    width: 100%;
    height: 1.66vw;
    padding-top: 3.47vw;
    padding-bottom: 3.47vw;
    align-items: center;
    display: flex;
    justify-content: center;

    p{
        font-size: 1.11vw;
        line-height: 1.66vw;
        color: #444444;
    }
}