.profile-input-button{
    background-color: #fff;
    border: none;
    width: 0.97vw;
    height: 0.97vw;
    margin-left: 0.66vw;
    margin-right: 0.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 0.97vw;
        height: 0.97vw;
    }
}